- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item current_company.name.titlecase, root_path
    - breadcrumb.item t('scaffold.actions.back', :item => Customer.model_name.human).titlecase, customers_path
    - breadcrumb.item "#{@customer.name.titlecase}", customer_path(@customer), :active => true

- content_for(:controls) do
  = controls do |control|
    - control.item t('scaffold.actions.edit').titlecase, edit_customer_path(@customer), :icon => 'application_edit'

= semantic_attributes_for(@customer) do |s|
  = s.attributes() do
    = s.attribute :name
    = s.attribute :address
    = s.attribute :cuit

.clear