%h1 Listing functional_units

%table.tableStandard
  %tr
    %th Owner
    %th Location
    %th Consortium
    %th{ :colspan => '3', :style => "text-align:center;"} Actions
  - @functional_units.each do |functional_unit|
    %tr
      %td= functional_unit.owner.last_name + ', ' + functional_unit.owner.last_name
      %td= functional_unit.location
      %td= functional_unit.consortium.try('name')
      %td= link_to 'Show', functional_unit
      %td= link_to 'Edit', edit_functional_unit_path(functional_unit)
      %td= link_to 'Destroy', functional_unit, :confirm => 'Are you sure?', :method => :delete

= paginate(@functional_units)
%br

= link_to 'New Functional unit', new_functional_unit_path
