%h1 Show functional units
%p#notice= notice

%p
  %b Owner:
  = @functional_unit.owner.last_name + ', ' + @functional_unit.owner.first_name
%p
  %b Location:
  = @functional_unit.location
%p
  %b Consortium:
  = link_to @functional_unit.consortium.name, consortium_path(@functional_unit.consortium)

= link_to 'Edit', edit_functional_unit_path(@functional_unit)
\|
= link_to 'Back', functional_units_path
