%p#notice= notice

%p
  %b Name:
  = @administration.name
%p
  %b Address:
  = @administration.address
%p
  %b Franchise:
  = link_to @administration.franchise.name, franchise_path(@administration.franchise)
%p
  %b Consortia
%table
  %tr
    %th name
    %th
  - @administration.consortia.each do |consortium|
    %tr
      %td= consortium.name
      %td= link_to 'ver', consortium_path(consortium)

= link_to 'Edit', edit_administration_path(@administration)
\|
= link_to 'Back', administrations_path
