<!DOCTYPE html>
<html>
<head>
  <title>Neptuno</title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag "neptuno-dev" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>
<a href="index.html">Main</a>
</body>
</html>
